<table class="table">
<tr>
  <th>Symbol</th>
  <th>OpenPrice</th>
  <th>OpenTime</th>
  <th>ClosePrice</th>
  <th>CloseTime</th>
</tr>
<% @tickers.each do |ticker| %>
  <tr>
    <td><%= ticker.symbol %></td>
    <td><%= ticker.openPrice %></td>
    <td><%= ticker.openTime %></td>
    <td><%= ticker.closePrice %></td>
    <td><%= ticker.created_at %></td>
  </tr>
<% end %>
</table>
